
.product_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 90vw;
  margin: 0 auto;
}

.product_section > div {
  width: 350px;
  margin: 20px;
  border: 1px solid #343047;
  border-radius: 8px;
  justify-self: center;
}

.product_section > div:hover {
  border: 1px solid #1D1F21;
  box-shadow: 0px 0px 10px 1px rgba(44, 44, 44, 0.66);
  transition: all 0.3s ease-in;
}


@media (max-width: 1080px) {
  .product_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
  }
  .product_section > div {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  .product_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .product_section > div {
    margin: 20px auto 20px auto;
  }
}


.product_list_image {
  padding: 0.1px;
  width: 349px;
  height: 350px;
  margin-bottom: 28px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.product_information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.product_price {
  font-size: 18px;
  color: #343047;
  text-transform: capitalize;
}


.product_title {
  color: #1D1F21;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
}

.product_like {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.product_action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
}

.link_btn {
  padding: 0.6rem 2rem;
  border: 1px solid #1D1F21;
  background-color: #1D1F21;
  color: rgba(255, 255, 255, 0.9019607843);
  border-radius: 10px;
}

.link_btn:hover {
  color: #1D1F21;
  background-color: rgba(255, 255, 255, 0.9019607843);
  transition: all 0.3s ease-in;
}

.link_btn_light {
  padding: 0.6rem 2rem;
  border: 1px solid #1D1F21;
  background-color: rgba(255, 255, 255, 0.9019607843);
  color: #1D1F21;
  border-radius: 10px;
}

.link_btn_light:hover {
  color: rgba(255, 255, 255, 0.9019607843);
  background-color: #1D1F21;
  transition: all 0.3s ease-in;
}
